html{
    background-color: white;
}
.Id, .Name, .City, .Phone, .Card{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url("beer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border:1px solid black;
    max-width: 800px;
    min-width: 200px;
    height: 900px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 0;
    
}
.title{
    text-shadow: burlywood;
    color: cornsilk;
    text-align: center;
    margin: auto;
    position: relative;
    top: 10px;
}
#breweries{
    width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: scroll;
}
div p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    text-align: center;
}
.Card, .id, .name, .city, .phone{
    display: flex;
    justify-content: center;
    align-items: center;

}

.id, .name, .city, .phone{
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    border: 1px solid black;
    color:gainsboro;
}
.Card{
    box-sizing: border-box;
    width: 90%;
    height: 70px;
    background-color: hsla(120,60%,70%,0.3);
    flex-wrap: wrap;
    border: 1px solid black;
    
}
.id{
    
}
.name{
    
}
.city{
   
}
.phone{
    
}